## Question 1
#### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [5]:
a = 0

def b():
 global a
 a = c(a)

def c(a):
 return a + 2

b()
b()
b()
a

6

#### Explanation

The provided code yields a result of 6 by executing a sequence of actions. Initially, the variable "a" is set to 0. The code defines two functions: "b" and "c." Function "b" modifies "a" by assigning the result of calling "c" with the current value of "a." Function "c" increments its parameter "a" by 2 and returns the updated value. The code consecutively calls "b" three times, updating "a" to 2, then 4, and finally 6. After the calls, the value of "a" is printed as the final outcome.

## Question 2
#### Modify function fileLength() so that a friendly message is printed instead:

In [14]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        return len(contents)
    except FileNotFoundError: # The try-except block will make sure that the errors are now handled
        print(f"File {file_name} not found.")

print(file_length('midterm.py'))
file_length('idterm.py')

384
File idterm.py not found.

## Question 3
#### Write a class named Marsupial

In [23]:
class Marsupial:
    pouch = [] 
    
    def put_in_pouch(self, item):        
        self.pouch.append(item)        
        
    def pouch_contents(self):
        print(self.pouch)
    
    def __init__(self):
        print('')
        
        
class Kangaroo(Marsupial):
    pouch = []

    def __init__(self, x_coord=0, y_coord=0):
        #'initialize coordinates to (x_coord, y_coord)'
        self.x = x_coord
        self.y = y_coord
          
    def jump(self, dx, dy):
        #'change the x and y coordinates by dx and dy'
        self.x += dx
        self.y += dy
        #print("I am a Kangaroo located at coordinates", (self.x, self.y))        
           
    def __str__(self):
        # By default, the sign of a positive number is not displayed.
        # Using `+`, the sign is always displayed.
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'

            
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)
#k.get()

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4
#### Write function collatz()

In [5]:
def collatz(x):
    x = int(x)
    
    if x<=1:
        print(x)    
    
    elif x%2 == 0:
        print (x)
        collatz(x/2)
    
    else:
        print(x)
        collatz(3*x+1)

print("collatz of 1 is \n")
collatz(1)
print("\ncollatz of 10 is \n")
collatz(10)

collatz of 1 is

1

collatz of 10 is

10
5
16
8
4
2
1

## Question 5
#### Write a recursive method binary()

In [38]:
def binary(num):
     
    if (num == 0):
        return '0'
    
    elif num >= 1:
        binary(num // 2)
    print(num % 2, end = '')
    
    
    

k = binary(0)
print("Binary of 0 is",k)
print("Binary of 1 is")
binary(1)
print("\nBinary of 3 is")
binary(3)
print("\nBinary of 9 is")
binary(9)

Binary of 0 is 0
Binary of 1 is
1
Binary of 3 is
11
Binary of 9 is
1001

## Question 8
#### Write SQL queries

In [27]:
import sqlite3

# connect to database
conn = sqlite3.connect('weather123456.db')

# create cursor object
c = conn.cursor()

# create table 
c.execute('CREATE TABLE weatherdata(City TEXT,Country TEXT,Season TEXT,Temperature REAL,Rainfall REAL)')

# inserting data 
data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
                ('Mumbai', 'India', 'Spring', 28.4, 16.2),
                ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
                ('Mumbai', 'India', 'Fall', 27.6, 346.0),
                ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
                ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
                ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
                ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
                ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
                ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
                ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
                ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
c.executemany('INSERT INTO weatherdata VALUES (?, ?, ?, ?, ?)', data)

# commit changes and close connection
conn.commit()

##### a) All the temperature data.

In [30]:
c.execute('SELECT Temperature FROM weatherdata')
temperature = c.fetchall()
print(temperature)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

#### b) All the cities, but without repetition.

In [31]:
c.execute('SELECT DISTINCT City FROM weatherdata')
city = c.fetchall()
print(city)

[('Mumbai',), ('London',), ('Cairo',)]

###### c)All the records for India.

In [32]:
c.execute("SELECT * FROM weatherdata WHERE Country = 'India'")
indrec = c.fetchall()
print(indrec)

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

###### d)All the Fall records.

In [36]:
c.execute("SELECT * FROM weatherdata WHERE Season = 'Fall'")
falrec = c.fetchall()
print(falrec)

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

###### e)The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [37]:
c.execute("SELECT City, Country, Season FROM weatherdata WHERE Rainfall BETWEEN 200 AND 400 GROUP BY City, Country, Season")
rainrec = c.fetchall()
print(rainrec)

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

###### f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [39]:
c.execute("SELECT City, Country FROM weatherdata WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
farec = c.fetchall()
print(farec)

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

###### g)The total annual rainfall for Cairo.

In [42]:
c.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM weatherdata WHERE City = 'Cairo'")
cairorain = c.fetchone()[0]
print(cairorain)

27.6

###### h)The total rainfall for each season.

In [43]:
c.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weatherdata GROUP BY Season")
seasrain = c.fetchall()
print(seasrain)

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

###### a)All the temperature data.

Select Temperature from weatherdata;

###### b)All the cities, but without repetition. 

Select distinct city from weatherdata;

###### c)All the records for India. 

Select * from weatherdata where country = 'India';

###### d)All the Fall records.

Select * from weatherdata where season = 'Fall';

###### e)The city, country, and season for which the average rainfall is between 200 and 400 millimeters. 

Select City, Country, Season from weatherdata group by City, Country, Season having avg(rainfall) between 200 and 400;

###### f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

Select City, Country from weatherdata group by City, Country having avg(temperature) > 20 order by temperature;

###### g)The total annual rainfall for Cairo.

Select City, Sum(Rainfall) from weatherdata where city = 'Cairo' group by city ;

###### h)The total rainfall for each season. 

Select Season, Sum(Rainfall) from weatherdata group by Season ;

## Question 9
#### Write a list comprehension

In [45]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
upperList = []
lowerList = []
lengthList = []
combinedList = []
filteredList = []

for word in range(len(words)):
    upperList.append(words[word].upper())
print(upperList)

for word in range(len(words)):
    lowerList.append(words[word].lower())
print(lowerList)

for word in range(len(words)):
    lengthList.append(len(words[word]))
print(lengthList)

for word in range(len(words)):
    combinedList.append([words[word].upper(), words[word].lower(), len(words[word])])
print(combinedList)

for word in words:
    if len(word) >= 4:
        filteredList.append(word.lower())
print(filteredList)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']